@import "colors";
@import "fonts";
@import "mixins";

/* text size adjust */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* box model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $palest;
  background-size: cover;
  background-position: center;
  color: $darkestBlue;
  font-family: $subheading;
}

.nav-wrapper {
  background-color: $main;
}

.sidenav {
  background-color: $palest;
  li {
    a {
      color: $main;
      font-size: 1.5em;
    }
  }
}

.dropdown-content {
  width: 20vw !important;
  background-color: $palest;
  height: 100vh;
  li {
    a {
      color: $darkBlue;
      font-size: 1.5em;
    }
  }
}

.hero {
  padding: 250px 0 250px;

  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    color: $snow;

    h1,
    h3 {
      line-height: 1;
    }

    h1 {
      text-transform: uppercase;
      font-size: 3em;
      margin-bottom: 0;
      font-family: $accent;
    }

    h3 {
      margin-bottom: 40px;
      font-size: 1.5em;
      font-family: $heading;
    }
  }
}

.button {
  @include mainButton();
  &:hover,
  :active {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.parallax-container {
  height: auto;
}

.heading {
  h2 {
    font-size: 2.25em;
    font-family: $accent;
  }
}

.properties {
  padding-bottom: 100px;
  h5 {
    font-family: $accent;
    font-size: 4em;
  }
  p {
    text-indent: 1em;
    font-size: 1.25em;
  }
  a {
    color: $darkestBlue;
  }
  .card-title {
    background-color: #36454f72;
    width: 100%;
    text-align: center;
  }
}

.about,
.pmg {
  padding: 80px 0 80px;
  color: $snow;
  line-height: 1.25;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-indent: 1em;

  span {
    font-size: 1.6em;
    font-family: $accent;
  }

  p {
    font-size: 1.25em;
  }

  a {
    color: $palest;
    text-decoration: underline;
  }
}

.contact {
  h2 {
    font-family: $accent;
  }
  h4 {
    font-family: $accent;
  }
  p {
    text-indent: 1em;
  }
  a {
    text-decoration: none;
    color: $darkestBlue;
  }
}

.contact-form {
  color: $darkBlue;
  .btn {
    background-color: $darkBlue;
  }
}

.page-footer {
  margin-top: auto;
  background-color: $darkBlue;
}

/*thank-you page*/
.thank-you {
  background-color: $darkBlue;
  align-items: center;
  text-align: center;
  margin: 250px 10px;
  padding: 10px;
  font-family: $accent;
  border-radius: 5px;
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
}

/*extra small just in case*/
@media only screen and (max-width: 320px) {
  .heading {
    font-size: 10px;
  }
}

/*medium screen*/
@media only screen and (min-width: 768px) {
  .hero {
    height: 90vh;

    .center-content {
      h1 {
        font-size: 4.55em;
      }

      h3 {
        font-size: 2.25em;
      }
    }
  }

  .button {
    font-size: 1.5em;
  }

  .properties {
    display: flex;
   
    .card-content {
      height: 200px;
      padding: 15px;
      p {
        font-size: 15px;
      }
    }

  }

  .contact {
    padding-left: 10px;

    h4,
    h5 {
      font-size: 1.5em;
    }
  }

  .about,
  .pmg {
    span {
      font-size: 1.75em;
    }

    p {
      font-size: 1.5em;
    }
  }
} /*medium screen end*/

/*large screen*/
@media only screen and (min-width: 900px) {
  .properties {
    padding: 0 200px 100px;
    h5 {
      font-size: 3em;
    }
    p {
      font-size: 1.75em;
    }
  }
  .contact {
    padding-left: 50px;
  }
} /*large screen end*/
